@main-width: 1280px;
@fill-parent: 100%;
@main-nav-height: 57px;

html {

}

body {
  padding: 0;
  margin: 0;
  width: 100%;
  font-family: 微软雅黑;
  font-size: 14px;
  box-sizing: border-box;
}

p {
  &.p {
    color: white;
    margin: 0;
    &.size60 {
      font-size: 60px;
    }
    &.size21 {
      font-size: 21px;
    }
  }
}

a:link {
  color: #000000;
  text-decoration: none;
}

a:visited {
  color: #000000;
  text-decoration: none;
}

.wrapper {
  width: 100%;
}

.container {
  width: @main-width;
  margin: auto;
}

header {
  height:;
  width: @fill-parent;
}

.main-nav {
  height: @main-nav-height;
  line-height: @main-nav-height;
  background-color: white;
}

img {
  &.v-align-sub {
    vertical-align: sub;
  }
}

.nav {
  overflow: hidden;
  .nav-brand {
    float: left;
    cursor: pointer;
    > * {
      margin: 0 5px;
    }
    &:first-child {
      margin-left: 60px;
    }
    .name {
      font-family: 黑体;
      font-weight: lighter;
      font-size: 21px;
    }
  }
}

.menu {
  &.nav-menu {
    float: right;
    .menu-item {
      width: 65px;
      height: 57px;
      text-align: center;
      cursor: pointer;
      &.lively {
        &.active, &:hover {
          color: #e7504d;
          height: 52px;
          border-bottom: 5px #e7504d solid;
        }
      }
      &.highlights {
        color: #e7504d;
      }
      &:first-child {
        margin-left: 0;
      }
      > * {
        margin-left: 5px;
      }
    }
  }
  &:last-child {
    margin-right: 65px;
  }
  div {
    float: left;
    margin: 0 5px;
  }
}

.banner {
  position: absolute;
  height: 692px;
  width: @main-width;
  background: no-repeat;
  display: table;
  overflow: hidden;
  .banner-context {
    display: table-cell;
    vertical-align: middle;
    padding-left: 110px;
  }
}

.button {
  font-size: 30px;
  color: white;
  padding: 10px 45px;
  border: none;
  cursor: pointer;
  &.big {
    font-size: 30px;
  }
  &.red {
    background: #e7504d;
  }
  &.broad {
    padding-left: 100px;
    padding-right: 100px;
  }
}